<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>
<body>
    <nav>
        <a href="/"><i class="fa-solid fa-house"></i><span>Home</span></a>
    </nav>
    <form id="loginForm">
        <h2>Login</h2>
        <input type="email" placeholder="Email" id="email" required><br>
        <input type="password" placeholder="Password" id="password" required><br>
        <span>Don't have an account? <a href="/signup">Create new</a></span>
        <button type="submit" id="login">Login</button><br>
    </form>
    <script src="/js/login.js" type="module"></script>
</body>
</html>