<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Website</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>
<body>
    <nav>
        <form onsubmit="search()">
            <button type="button" id="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button><input type="text" id="search" placeholder="Enter the sports name"></input>
            <button type="button" id="loginOrSignUp">Login / sign Up</button>
            <button id="logout">Logout</button>
            <button type="button" id="post">Post an Event</button>
        </form>
    </nav>

    <div class="outer-container">
        <div class="container">
            <div id="container1"></div>
        </div>
    </div>
    <script src="/js/index.js"></script>
    <script src="/js/show.js" type="module"></script>
</body>
</html>