<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Events</title>
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>
<body>
    <nav>
        <a href="/"><i class="fa-solid fa-house"></i><span>Home</span></a>
    </nav>
    <h1>Post your Events</h1>
    <form onsubmit="PostEvent(event)">
        <label for="event">Event name:</label>
        <input type="text" placeholder="Enter your event name" id="event" required><br>
        <label for="pincode">Pincode of event location:</label>
        <input type="number" placeholder="Enter the pincode of event location" id="pincode" required><br>
        <label for="date">Date of your event</label>
        <input type="date" placeholder="Enter the event date" id="date">
        <label for="address">Address of the event:</label>
        <textarea placeholder="Enter the address of the event" required id="address"></textarea><br>
        <label for="imageInput">Upload your event poster:</label>
        <input type="file" accept="image/*" placeholder="Upload your event poster" id="imageInput" required><br>
        <label for="description">Enter description about your sport event:</label>
        <textarea placeholder="Enter description of your sport event" id="description" required></textarea><br>
        <label for="link">Your google forms Link:</label>
        <input type="text" plcaeholder="Your google forms Link" id="link" required><br>
        <button type="submit">Post</button>
    </form>
    <script src="/js/post.js" type="module"></script>
</body>
</html>